<ion-content>
    <ion-card>
        <ion-item>
            <ion-text>Companion.</ion-text>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-label position="floating">Username</ion-label>   
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-input value="lowes" autofous="true" [(ngModel)]="username"></ion-input>
                    </ion-col>
                </ion-row>
            </ion-grid>
    
        </ion-item>
        <ion-button shape="round" (click)="login_click()" [routerLink]="['/dash']" routerDirection="forward">
            <ion-icon slot="start" name="key"></ion-icon>
              Login
        </ion-button>
    </ion-card>
    <ion-text class="bottom">
        ATEAM
    </ion-text>
</ion-content>
